/* Matthew Turpin - Portfolio Stylesheet */



body, html
	{ margin:0; padding:0; background:#f2f1ef; }


.clearfix
	{ overflow:hidden; }

.wrapper 
  {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -150px;
  }


/***************************************
**  Header Styles 
***************************************/

header
	{ width:100%; height:auto; background:#333; margin:0; padding:0;}

header img
	{ margin:auto; display:block; }

header h1
	{ text-align:center; color:#efefef; }

ul
{ list-style: none; }

a
{ color:#27b0d2; list-style:none; text-decoration:underline; font-size:18px; margin:10px 0; cursor:pointer; }

.profile-avatar
	{ width: 130px; height:135px; margin: 20px auto; border-radius: 50%; overflow: hidden; }

.profile-avatar img
	{width:160px; position:relative; left:-4px; display:block;}

/***************************************
**  Button Styles
***************************************/

#selectButtons
	{ width: 350px; margin:30px auto; }

#selectButtons button
	{ width:150px; margin:10px; padding:10px;  color:#efefef; background:#333; border:0; display:none; }

.active
	{ background:#27b0d2 !important; }

/***************************************
**  Content Styles
***************************************/

#content
	{ margin:0; padding:0; }

.portfolio-cover
	{ margin:0; }

#portfolio .portfolio-list
	{ list-style:none; width:90%; height:100%; auto;
	  display:flex; flex-wrap: wrap; justify-content: space-around;
	}

#portfolio .portfolio-item
	{ width:280px; text-align:center; margin:25px 15px; position:relative; }



.field-list
	{ font-size:15px; position:absolute; bottom:-21px; width:100%; text-align:center; margin:auto; padding:0;}


.portfolio-cover
	{ 
		width:100%;
		font-size:14px;
		//overflow:hidden;
		border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px;
		background:#fff;
		cursor: pointer;
		overflow:hidden;
		box-shadow:0 0 1px 1px rgba(0,0,0,0.2); -webkit-box-shadow:0 0 1px 1px rgba(0,0,0,0.2); -moz-box-shadow:0 0 1px 1px rgba(0,0,0,0.2);
	}

#portfolio ul li img
	{ display:block; width:100%; height:100%;
	  margin:auto;
	}


.mfp-figure:after
	{ background:#efefef !important; padding:0; }

/***************************************
**  weblinks Styles 
***************************************/
#weblinks
	{ background:#f2f1ef; padding:0 0 60px 0; }



#web .portfolio-list
	{ list-style:none; width:90%; height:100%; auto; padding-bottom:10px;
	  display:flex; flex-wrap: wrap; justify-content: space-around;
	}

#web .portfolio-item
	{ width:280px; text-align:center; margin:15px 15px; position:relative; }

#web ul li img
	{ display:block; width:100%; 
	  margin:auto;
	}

#web figure
	{height:265px; overflow:hidden;}



/***************************************
**  Footer Styles 
***************************************/

footer
	{ width:100%; height:40px; background:#333; text-align:center; }

footer p
	{ color:#ccc; }

/***************************************
**  Media Sizing
***************************************/

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .portfolio-area .portfolio-item {
        width: 50%;
    }
}
@media only screen and (max-width: 767px) {
    .portfolio-area .portfolio-item {
        height: auto;
        width: 100%;
    }
}


